@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --text-color: black;
  --bg-color: #e5e7eb;
  --main-font: "Inter", sans-serif;
  /* --sec-font: "Messapia"; */
  --font-size-s: 14px;
  --font-size-m: 30px;
  --font-size-l: 44px;
  --font-size-xl: 54px;
  --line-height-heading: 90%; /* 90->100*/
  --line-height-para: 120%; /* 120->130*/
  --tracking-heading: -1%; /* -1->+1*/
  --tracking-para: -6%; /* -6->+0*/
}

/* border box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* font: 16px/1.7 "Source Sans Pro", Helvetica, Helvetica Neue, Arial, sans-serif; */
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
  width: 100vw;
  height: 100vh;
  /* --------------bcg cover img------------------ */
  /* background-image: url("../images/covers/test.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* --------------------------------------------- */
  padding: 16px;
  display: flex;
  position: relative;
}

/* -----------------------------------main content / main------------------------------------------------ */
.main-content {
  /* flex-grow: 1; */
  width: 80%;
  /* border-radius: 32px; */
  /* color: white; */
  /* glass */
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  padding: 32px;
  position: relative;
}

/* -----------navbar------------ */
.header-bar {
  width: 100%;
  /* height: 100px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid black;
}
.nav-bar ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-bar li {
  margin-right: 32px;
  /* height: 66px; */
  /* position: relative; */
  /* flex-grow: 66; */
}
.nav-bar li:first-child {
  margin-right: 50px;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  /* height: 80px; */
}
.logo img {
  width: 32px;
}
.logo {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-bar {
  display: flex;
  align-items: center;
}
.search-bar {
  height: 32px;
  width: 300px;
  border-radius: 8px;
  border: none;
  background-image: url("../images/search-24.svg");
  background-position: 4px 50%;
  background-repeat: no-repeat;
  padding: 8px 32px;
}
.avatar {
  width: 32px;
  height: 32px;
  margin-left: 32px;
}
.avatar img {
  width: 32px;
  border-radius: 50%;
}
/* ------------recent-----------*/
.recent {
  width: 100%;
  /* height: 300px; */
  margin-bottom: 32px;
  overflow: hidden;
}
.recent-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 16px;
}
.recent-items {
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
  display: flex;
  width: 100%;
  /* overflow: hidden; */
  position: relative;
}
.recent-items li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3%;
  /* min-width: 250px; */
  min-width: 17.6%;
}
.recent-items img {
  /* width: 250px; */
  width: 100%;
  border-radius: 16px;
}
.recent-item__title {
  font-size: 15px;
  font-weight: 700;
}
.recent-item__by {
  font-size: 15px;
  font-weight: 500;
  color: rgb(58, 58, 58);
}
.recent-item__type {
  font-size: 12px;
}

/* ----------last row--------- */
.last-row {
  display: flex;
}
/* ---------playlist---------- */
.playlist {
  /* flex-grow: 1; */
  width: 58.8%;
  /* (17.6 * 3) + 3 + 3 */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}
.playlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 16px; */
}
.playlist-header div {
  font-size: 36px;
  font-weight: 600;
}
.playlist-header a {
  color: gray;
  text-decoration: none;
}
.playlist-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.playlist-items img {
  width: 40px;
  margin-right: 16px;
}
.playlist-items li {
  display: flex;
  width: 50%;
  margin-top: 16px;
}
.playlist-items li img {
  width: 80px;
  border-radius: 12px;
}
/* ---------trending--------- */
.trending {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.trending-header {
  font-size: 36px;
  font-weight: 600;
}
.trending-items {
  padding: 0;
  margin: 0;
}
.trending-items li {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 16px;
}
.trending-item__number {
  margin-right: 16px;
  font-weight: 200;
}
.trending-item__cover {
  margin-right: 16px;
}
.trending-item__cover img {
  width: 40px;
  /* border-radius: 50%; */
  border-radius: 4px;
}
.trending-item__title {
  flex-grow: 1;
}
.trending-name {
  font-weight: 600;
}
.trending-artist {
  font-weight: 100;
}
.trending-length {
  margin-left: 16px;
  height: 24px;
}

/* -------------------------------------------side content / player--------------------------------------------- */
.side-content {
  /* width: 450px; */
  /* flex-basis: 25%; */
  width: 20%;
  margin-left: 16px;
  /* background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px; */
  border-radius: 10px;
  position: relative;
}
.player {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.player-cover {
  /* padding-left: 40px; */
  width: 300px;
  border-radius: 10px;
  /* height: 400px; */
}
.player-title {
  margin-top: 32px;
  font-size: 36px;
  color: white;
  font-weight: 600;
}
.player-artist {
  font-size: 20px;
  color: rgb(216, 214, 214);
  font-weight: 600;
}
.player-album {
  font-size: 20px;
  font-weight: 100;
  /* color: white; */
  color: #a0a1a3;
}
.player-seeker {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.current-time {
  color: white;
  font-size: 15px;
  font-weight: 100;
  margin-right: 8px;
}
.end-time {
  color: white;
  font-size: 15px;
  font-weight: 100;
  margin-left: 8px;
}
.seeker-bar {
  width: 220px;
  height: 4px;
  /* color: #a0a1a3; */
  background-color: white;
  position: relative;
  border-radius: 8px;
}
.seeker-current {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 4px;
  background-color: black;
  border-radius: 8px;
}
.seeker-current::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 108px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid #e5e7eb;
}
.controls {
  /* flex-grow: 1; */
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.play {
  width: 60px;
}
.play-wrapper {
  /* background-color: #a0a1a3; */
  /* border-radius: 12px; */
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.prev,
.next,
.like,
.volume {
  width: 30px;
}

.controls-playlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  color: rgb(221, 221, 221);
  font-size: 15px;
}

.player-lyrics {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 16px;
  border-radius: 10px;
  background-color: #a0a1a3;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.lyrics-header {
  /* color: white; */
  font-size: 15px;
  font-weight: 600;
}
.lyrics {
  width: 100%;
  height: 160px;
  overflow: auto;
  font-weight: 100;
}
